@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
/* font-family: 'Noto Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  line-height: 1.14;
  letter-spacing: 0;
  word-break: break-all;
}
/* 공통 클래스 */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
/* 안내창 */
body.active {
  overflow-y: auto;
}
.modal-wrap {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}
.modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
}
.modal-logo img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #fcfcfc;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.modal-nonotic {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  margin-top: 90px;
}
.modal-nonotic strong {
  font-size: 18px;
  font-weight: 700;
  color: rgb(235, 23, 23);
  background: linear-gradient(to top, yellow 60%, transparent 40%);
}
.modal-nonotic span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.modal-close {
  color: #000;
  text-align: center;
  margin-top: 65px;
  font-weight: 600;
}
.modal-close i {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 헤더 */
.header {
  width: 100%;
  height: 80px;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  /* background-color: white; */
  overflow: hidden;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}
.header:hover {
  height: calc(80px + 330px);
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 81px;
  width: 100%;
  height: 330px;
  background: rgba(0, 0, 0, 0.5);
}
.header-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: 80px;
  z-index: 1;
}
.logo {
  position: absolute;
  left: 0;
  top: 20px;
}
.nav {
  position: relative;
  display: block;
  width: calc(178px * 6);
  margin: 0 auto;
}
.gnb {
  position: relative;
  display: block;
  width: calc(178px * 6);
  overflow: hidden;
}
.gnb > li {
  position: relative;
  display: block;
  width: 178px;
  float: left;
}
.gnb > li > a {
  position: relative;
  display: block;
  height: 80px;
  /* padding: 26px 0; */
  line-height: 80px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.gnb a:hover {
  color: #ed1c24;
}
.gnb > li:hover > a {
  color: #ed1c24;
}
.depth2 {
  position: relative;
  display: block;
  padding: 40px 0;
}
.depth2 > li {
  position: relative;
  display: block;
}
.depth2 > li > a {
  position: relative;
  display: block;
  color: white;
  font-size: 15px;
  line-height: 1.92;
}
.lang {
  position: absolute;
  right: 0;
  top: 35px;
  text-transform: uppercase;
  font-weight: bolder;
}
.lang-list {
  position: relative;
  display: block;
}
.lang-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.lang-list > li > a {
  position: relative;
  display: block;
  font-size: 15px;
  color: #888;
  font-weight: 500;
}
.lang-list > li > a.lang-active {
  color: #000;
}
.lang-list > li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 3.3px;
  width: 1px;
  height: 11px;
  background: #999;
}
.lang-list > li:last-child::after {
  content: none;
}
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
  background: url("../images/mainbg.png") no-repeat center fixed;
  background-size: cover;
  top: 0;
  margin-top: 80px;
}
.visual-inner {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 1px;
}
.visual-slogan {
  position: relative;
  display: block;
  font-size: 70px;
  color: white;
  font-weight: 500;
  margin-top: 245px;
}
.visual-slogan::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -45px;
  width: 60px;
  height: 5px;
  background-color: #ed1c24;
}
.visual-txt {
  position: relative;
  display: block;
  font-size: 21px;
  color: white;
  margin-top: 30px;
}
.visual-bt {
  position: absolute;
  left: calc(50% - 33px / 2);
  display: block;
  width: 33px;
  height: 33px;
  background: url(../images/bg_common.png) no-repeat;
  background-position: -122px 0;
  border: 0;
  font-size: 0;
  bottom: 40px;
  cursor: pointer;
}
/* 비즈니스 */
.business {
  position: relative;
  display: block;
  width: 100%;
  padding: 190px 0;
  background: #f8f8f8;
}
.business-inner {
  position: relative;
  display: block;
}
.business-top {
  position: relative;
  display: block;
  margin-bottom: 70px;
}
.business-title {
  position: relative;
  display: block;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 31px;
  color: #111;
}
.business-title::after {
  content: "";
  position: absolute;
  left: calc(50% - 37px / 2);
  bottom: 0;
  display: block;
  width: 37px;
  height: 4px;
  background-color: #ff0000;
}
.business-desc {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 30px;
  line-height: 25px;
}
.business-bottom {
  position: relative;
  display: block;
}
.business-list {
  position: relative;
  display: block;
}
.business-list > li {
  position: relative;
  display: block;
  width: calc(100% / 5);
  height: 420px;
  float: left;
  background: url(../images/img_business.png) no-repeat;
  background-position: 0px 0px;
}
.business-list > li:nth-child(1) {
  background-position: calc(240px * 0) 0px;
}
.business-list > li:nth-child(2) {
  background-position: calc(240px * -1) 0px;
}
.business-list > li:nth-child(3) {
  background-position: calc(240px * -2) 0px;
}
.business-list > li:nth-child(4) {
  background-position: calc(240px * -3) 0px;
}
.business-list > li:nth-child(5) {
  background-position: calc(240px * -4) 0px;
}
.business-list > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(244, 128, 37, 0);
  font-size: 24px;
  transition: background 0.5s;
}
.business-list > li > a:hover {
  background-color: rgba(244, 128, 37, 1);
}
.business-list > li > a::after {
  content: "";
  position: absolute;
  left: calc(50% - 130px / 2);
  bottom: 94px;
  width: 130px;
  height: 112px;
  opacity: 0;
  visibility: hidden;
  background: url("../images/bg_common.png") no-repeat;
  background-position: 0px 0px;
  transition: opacity 0.5s, visibility 0.5s;
}
.business-list > li > a:hover::after {
  visibility: visible;
  opacity: 1;
}
.business-list > li:nth-child(1) > a::after {
  background-position: -165px 0px;
}
.business-list > li:nth-child(2) > a::after {
  background-position: -302px 0px;
}
.business-list > li:nth-child(3) > a::after {
  background-position: 0 -116px;
}
.business-list > li:nth-child(4) > a::after {
  background-position: -140px -116px;
}
.business-list > li:nth-child(5) > a::after {
  background-position: -270px -116px;
}

/* 뉴스 */
.news {
  position: relative;
  display: block;
  width: 100%;
  padding: 55px 0;
  background: #ed1c24;
}
.news-bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #58595b;
}
.news-inner {
  position: relative;
  display: block;
}
.news-wrap {
  position: relative;
  display: block;
  width: calc(50% - 95px);
}
.news-inner .news-wrap:first-child {
  float: left;
}
.news-inner .news-wrap:last-child {
  float: right;
}
.news-wrap h3 {
  position: relative;
  display: block;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 45px;
}
.news-content {
  position: relative;
  display: block;
}
.news-list > li {
  position: relative;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px 0;
}
.news-list > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.news-list > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
}
.news-list > li > a > .news-txt {
  position: relative;
  display: block;
  width: 80%;
  /* 말줄임 ... 표시하는법 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.news-list > li > a::after {
  content: "";
  position: absolute;
  right: 29px;
  top: 0;
  width: 52px;
  height: 23px;
  background: url(../images/bg_common.png);
  background-position: -50px 0px;
}

/* 고객센터 */
.cs {
  position: relative;
  display: block;
  padding: 60px 0;
  background-color: #f8f8f8;
  height: 320px;
}
.cs-inner {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.faq {
  position: relative;
  display: block;
  float: left;
  width: 599px;
  height: 200px;
  padding: 50px 60px;
  background: url(../images/bg_faq.png) no-repeat 90% center #fff;
}
.customer {
  position: relative;
  display: block;
  float: left;
  margin-left: 2px;
  width: 599px;
  height: 200px;
  padding: 50px 60px;
  background: url(../images/bg_custom.png) no-repeat 90% center #fff;
}
.cs-title {
  position: relative;
  display: block;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.cs-sub-txt {
  position: relative;
  display: block;
  margin-top: 20px;
  line-height: 23px;
  font-size: 15px;
}

/* 회사소개 */
.about {
  position: relative;
  display: block;
  width: 63%;
  margin: 98px auto;
}
.about-top {
  position: relative;
  display: block;
  background: url(../images/img_about.png) no-repeat 100%;
  height: 400px;
}
.about-top h2 {
  position: relative;
  display: block;
  padding-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 50px;
}
.about-top p {
  position: relative;
  display: block;
  margin-left: 90px;
  margin-top: 27px;
}
.about-txt {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  line-height: 27px;
}
.about-sub-txt {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 22px;
}
.about-txt::before {
  content: "";
  width: 37px;
  height: 5px;
  background: #ed1c24;
  position: absolute;
  top: 10px;
  left: -90px;
}
.icon_area {
  display: inline-block;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.icon_area li {
  float: left;
  width: 103px;
  margin: 0 100px;
}
.img_ico1 a {
  display: inline-block;
  width: 103px;
  height: 108px;
  background-position: 0 0;
  background: url(../images/bg_icon.png) no-repeat;
  text-align: center;
}
.img_ico2 a {
  display: inline-block;
  width: 103px;
  height: 108px;
  background-position: 0 0;
  background: url(../images/bg_icon.png) no-repeat 51%;
  text-align: center;
}
.img_ico3 a {
  display: inline-block;
  width: 103px;
  height: 108px;
  background-position: -235px 0;
  background: url(../images/bg_icon.png) no-repeat 102%;
  text-align: center;
}
.icon_area li a span {
  display: inline-block;
  padding-top: 130px;
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

/* footer */
.footer {
  position: relative;
  display: block;
  padding: 50px 0;
  background-color: #4e4e4e;
}
.footer-inner {
  position: relative;
  display: block;
}
.footer-logo {
  position: relative;
  display: block;
  float: left;
  margin-right: 130px;
}
.footer-logo > img {
  width: 122px;
}
.footer-info {
  position: relative;
  display: block;
  float: left;
}
.footer-list {
  position: relative;
  display: block;
}
.footer-list > li {
  position: relative;
  display: block;
  font-size: 13px;
  color: #c3c3ce;
  margin-bottom: 5px;
}
.footer-list > li > address {
  position: relative;
  display: block;
  font-style: normal;
}
.footer-list > li > i {
  position: relative;
  display: inline-block;
}
/* 탑 버튼 */
.top-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.top-button .chat_btn span {
  position: absolute;
  display: none;
  top: 30px;
  right: 80px;
  width: 160px;
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-align: center;
  line-height: 45px;
}
.top-button .chat_btn:hover span {
  display: block;
}
.top-button .chat_btn {
  -webkit-animation: updown 1.5s infinite ease-in-out;
  animation: updown 1.5s infinite ease-in-out;
}
.top-button .shop-btn {
  position: relative;
  display: block;
  width: 55px;
  line-height: 55px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06),
    inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
  letter-spacing: 0.5px;
}
.top-button .top-btn {
  position: relative;
  display: block;
  width: 55px;
  line-height: 55px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
}
.top-button .top-btn img {
  transform: rotate(180deg);
}
.top-button .top-btn img.up {
  transform: rotate(0deg);
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
