@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
/* font-family: 'Noto Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  line-height: 1.14;
  letter-spacing: 0;
  word-break: break-all;
}
/* 공통 클래스 */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: block;
}
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 헤더 */
.header {
  width: 100%;
  height: 80px;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}
.header:hover {
  height: calc(80px + 330px);
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 81px;
  width: 100%;
  height: 330px;
  background: rgba(0, 0, 0, 0.589);
}
.header-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: 80px;
  z-index: 1;
}
.logo {
  position: absolute;
  left: 0;
  top: 20px;
}
.nav {
  position: relative;
  display: block;
  width: calc(178px * 6);
  margin: 0 auto;
}
.gnb {
  position: relative;
  display: block;
  width: calc(178px * 6);
  overflow: hidden;
}
.gnb > li {
  position: relative;
  display: block;
  width: 178px;
  float: left;
}
.gnb > li > a {
  position: relative;
  display: block;
  height: 80px;
  /* padding: 26px 0; */
  line-height: 80px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.gnb a:hover {
  color: #ed1c24;
}
.gnb > li:hover > a {
  color: #ed1c24;
}
.depth2 {
  position: relative;
  display: block;
  padding: 40px 0;
}
.depth2 > li {
  position: relative;
  display: block;
}
.depth2 > li > a {
  position: relative;
  display: block;
  color: white;
  font-size: 15px;
  line-height: 1.92;
  font-weight: bold;
}
.lang {
  position: absolute;
  right: 0;
  top: 35px;
  text-transform: uppercase;
  font-weight: bolder;
}
.lang-list {
  position: relative;
  display: block;
}
.lang-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.lang-list > li > a {
  position: relative;
  display: block;
  font-size: 15px;
  color: #888;
  font-weight: 500;
}
.lang-list > li > a.lang-active {
  color: #000;
}
.lang-list > li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 3.3px;
  width: 1px;
  height: 11px;
  background: #999;
}
.lang-list > li:last-child::after {
  content: none;
}
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 910px;
  background: url("../images/mainbg.png") no-repeat center fixed;
  background-size: cover;
  top: 0;
  margin-top: 80px;
}
.visual-inner {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 1px;
}
.visual-slogan {
  position: relative;
  display: block;
  font-size: 70px;
  color: white;
  font-weight: 500;
  margin-top: 245px;
}
.visual-slogan::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -45px;
  width: 60px;
  height: 5px;
  background-color: #ed1c24;
}
